@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

header {
	width: 100%;
	height: 150px;
	background-color: rgba(94, 41, 154, .8);
	z-index: 2;
	position: relative;
}
header .container {
	position: relative;
	
}
header .header-black {
	background-color: #000;
	height: 40px;
}
header .header-black .container {
	margin-left: 165px;
}
header .header-black ul {
	width: 1015px;
}
header .header-black li {
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px;
}
header .header-black li.club-01 {
	background-position: 0px 0px;
}
header .header-black li.club-02 {
	background-position: -48px 0px;
}
header .header-black li.club-03 {
	background-position: -95px 0px;
}
header .header-black li.club-04 {
	background-position: -140px 0px;
}
header .header-black li.club-05 {
	background-position: -189px 0px;
}
header .header-black li.club-06 {
	background-position: -239px 0px;
}
header .header-black li.club-07 {
	background-position: -288px 0px;
}
header .header-black li.club-08 {
	background-position: -334px 0px;
}
header .header-black li.club-09 {
	background-position: -381px 0px;
}
header .header-black li.club-10 {
	background-position: -429px 0px;
}
header .header-black li.club-11 {
	background-position: -478px 0px;
}
header .header-black li.club-12 {
	background-position: -527px 0px;
}
header .header-black li.club-13 {
	background-position: -579px 0px;
}
header .header-black li.club-14 {
	background-position: -629px 0px;
}
header .header-black li.club-15 {
	background-position: -671px 0px;
}
header .header-black li.club-16 {
	background-position: -719px 0px;
}
header .header-black li.club-17 {
	background-position: -763px 0px;
}
header .header-black li.club-18 {
	background-position: -808px 0px;
}
header .header-black li.club-19 {
	background-position: -853px 0px;
}
header .header-black li.club-20 {
	background-position: -900px 0px;
}
header .header-black li.club-21 {
	background-position: -950px 0px;
}
header .header-black li.club-22 {
	background-position: -1000px 0px;
}
header .header-black li a {
	width: 32px;
	height: 32px;
	display: block;
}
header #logotipo {
	position: absolute;
	top: 18px;

}
#menu {
	margin: 40px 0;
}
#menu li {
	display: inline-block;
	font-family: "OpenSans";
}
#menu li.search {
	width: 200px;
}
#menu li.search input {
	background-color: #5c2d90;
	color: #fff;
	border: none;
	height: 30px;
	line-height: 30px;
}
#menu li.search ::-webkit-input-placeholder {
	color: #fff;
}
#menu li.search button {
	background: none;
	border: none;
	position: absolute;
	right: 3px;
	top:  -2px;
}
#menu li.search button i {
	font-size: 18px;
	color: rgba(255, 255, 255, .5);
}
#menu li a {
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
}
#banner {
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/banner.jpg") no-repeat;
	top: -210px;
}
#banner h1 {
	color: #fff;
	top: 480px;
	position: relative;
	font-size: 92px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'OpenSans-Light';
	margin-left: 30px;
}
#banner h1 small {
	font-size: 32px;
	display: block;
	color: #fff;
	font-family: 'OpenSans';
	font-weight: bold;
}
#news {
	position: relative;
	top:  -110px;
}
#news h2 {
	width: 100%;
	color: #5e2799;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
#news hr {
	border: #fde192 solid 2px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnails {
	margin-top: 20px;
}
#news .thumbnails h3 {
	color: #5e299a;
	font-size: 18px;
	font-family: 'OpenSans';
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0;
}
#news .thumbnails time {
	color: #a7a7a7;
	font-size: 18px;
	font-family: 'OpenSans';
}
#estatisticas {
	background-color: #5e299a;
	width: 100%;
	height: 200px;
	text-align: center;
}
#estatisticas p {
	color: #fde092;
	text-transform: uppercase;
	font-family: 'OpenSans';
	font-size: 64px;
	margin-top: 33px;
}
#estatisticas p small{
	color: #fff;
	text-transform: uppercase;
	font-family: 'OpenSans-Light';
	font-size: 24px;
	display: block;
}